# Build output
/.zig-cache/
/zig-out/
/zig-pkg/
/dist/
/.cache/
/compile_flags.txt

# Save files
/save/

# Python
__pycache__/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
